:root {
  --main-color: #1296f3;
  --main-color-alt: #1787e0;
  --main-transtion: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bootm: 100px;
  --section-background: #ececec;
  --shadow-1: 4px 4px 15px var(--black_10);
  --shadow-2: 0 10px 15px var(--black_10);
  --shadow-3: 0px 20px 60px var(--black_8);
  --shadow-4: 0px 10px 30px var(--flickr-blue_30);
  --shadow-5: 0px 2px 60px 0px var(--black_10);
}
.header-top {
  height: 5vh;
  background-color: #acb8df;
  display: flex;
  align-items: center;
}
.header-top-content {
  margin-inline: auto;
  font-size: 16px;
  font-weight: 600;
}
.header-top-content span {
  color: #d11111;
}
.lang {
  cursor: pointer;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s all ease;
}
.lang span {
  padding: 7px;
}
.lang span:hover {
  color: #232323;
  font-size: 20px;
}
.header-med {
  height: 15vh;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
.logo {
  color: #222;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.header-med form {
  width: 100%;
  position: relative;
}
.header-med .search-icon {
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 2;
  margin-top: 3px;
  margin-left: 310px;
  background-color: black;
  color: #fdfdfd;
  border-radius: 50%;
  padding: 5px;
}
.header-med input {
  position: relative;
  width: 350px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #eee;
}
.login-div {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}
.login-div button {
  font-weight: 500;
}
.login-div button:hover {
  color: #0701b8;
}
.nav-icons {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-right: 10px;
}
.nav-icons .nav-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav-icons .nav-icon:hover {
  transform: scale(1.1);
  color: #0701b8;
}
.navbar {
  height: 10vh;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-left: 2rem;
  transition: 0.3s;
  position: relative;
}
.menu-list li {
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
}
.menu-list > li:first-of-type {
  background-color: #6b9288;
  padding: 20px;
  color: #fdfdfd;
}
.menu-list li:hover:not(:first-of-type) {
  background-color: #acb8df;
  padding: 10px 15px;
}
.navbar .mega-menu {
  position: absolute;
  width: 100%;
  left: -30px;
  padding: 10px;
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transtion), opacity var(--main-transtion);
}
.navbar .menu-list > li:hover .mega-menu {
  opacity: 1;
  z-index: 2;
  top: calc(100% + 5px);
}
.navbar .mega-menu .links {
  min-width: 240px;
  flex: 1;
}
.navbar .mega-menu .links li {
  position: relative;
}
.navbar .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e9;
}
.navbar .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transtion);
}
.navbar .mega-menu .links li:hover::before {
  width: 100%;
}
.navbar .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.navbar .mega-menu .links li a i {
  margin-right: 10px;
}
